$aidraidLight: #77ddef;
$aidraidDark: #03315e;
a {
    color: #77ddef;
}
.countdown {
    text-decoration: underline;
    font-weight: bold;
}

.title--parent {
    position: relative;
    left: 25%
}

.title--aidraid {
    color: $aidraidDark!important;
    text-shadow: 1px 1px 0 #F4FAFF;
    word-break: initial;
    &>span {
        font-weight: 900;
    }
}

.text--aidraid {
    color: $aidraidDark;
    position: relative;
    top: 300px;
    padding-left: 2rem;
    strong {
        color: $aidraidDark;
    }
}

.navbar-end {
    margin-right: 2rem;
    li {
        margin-right: 1rem;
        a {
            border-bottom: 2px solid $aidraidLight;
        }
    }
}

h1.title {
    font-size: 3rem;
}

h3.section-title {
    color: $aidraidLight!important;
}

.section-intro.hero {
    background-image: url(../img/aidraid_studio_sm.jpg);
    background-position: left;
    background-repeat: no-repeat;
    padding: 0!important;
}

#div1{
    position:relative;
    width:50%;
    background-color: $aidraidLight;
    z-index:2;
    float: left; 
    background-image:url('../img/aidraid_studio_sm.jpg');
}

#div2{
    position:relative;
    width:50%;
    z-index:1;
    float: left
}

#image{     
    position:absolute;
    top:10%;/* 2/3=66.6 */
    left:100%;
    z-index:4;
    width:200px;
    margin-left: -100px;
}

.intro-overlay { 
    /* FF3.6-15 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.section-sp {
    h3 {
        color: #fff;
    }
    margin-bottom: 2rem;
}

.section-sp-logos {
    margin-bottom: 2rem;
    .columns {
        align-items: center;
    }
    .sp-logo {
        max-height: 100px;
    }
}

.section-twitch {
    background-color: $aidraidLight;
}

.section-timetable {
    background-color: #66727F;
}

.section-about, .section-link-buttons {
    clear: both;
    p, strong {
        color: #30B4CC!important;
    }
}

.section-link-buttons {
    margin-bottom: 2rem;
}

.section-support {
    padding: 2rem 0;
    color: #F4FAFF;
    background-color: #30B4CC;
}

.section-support {
    &.button:first-child {
        margin-right: 2rem;
    }
}

.section-support, .section-about {
    padding: 2rem 0;
}

//RWD
@media screen and (max-width: 768px) {
    #div1 {
        background-image: none;
    }
    #image {
        margin-left: 0;
        left: 100%;
    }
  }
  
  @media screen and (min-width: 769px), print {

  }
  
  @media screen and (max-width: 1023px) {

  }
  
  @media screen and (min-width: 1024px) {

  }
  
  